#titulo_principal{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #ffffff;
    font-family: 'Stalinist One', sans-serif;
    font-size: 30px;
}

.subtitulo_medidas{
    color: rgb(255, 255, 255);
    font-family: 'bebas neue', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

h1, h3{
    margin: 7px;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'bebas neue', sans-serif;
}

.produtos_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 2px;
}

.produtos{
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    color: #000000;
    transition: transform 0.3s ease;
}

.produtos:hover{
    transform: scale(1.03);
}

.produtos img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 0px;
    background-color: #ffffff;
    display: block;
}

.card h3{
    font-size: 16px;
    margin: 1px;
}


.preco {
    font-weight: bold;
}

.preco span {
  text-decoration: line-through;
  color: #777777;
  margin-left: 8px;
}

.botao_comprar{
    background-color: #000000;
    border-radius: 15px;
    transition: 0,8s;
    padding: 5px;
    display: inline-flex;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.botao_comprar:hover{
    background-color: #777777;
}

nav{ /*container*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

nav a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 6px;
    display: inline-flex;
    transition: 0.5s;
}

nav a:hover{
    background-color: #777777;
}

.tabela_medidas{
    color: white;
    font-size: 32px;
}

.aviso{
    color: red;
}

.email{
    background-color: white;
    color: #000000;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.botao_enviar_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_enviar{
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    border-radius: px;
    font-size: 24px;
}

.logo_direita_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 250px;
    width: 100%;
    box-sizing: border-box;
}

.logo_direita{
    font-family: 'Stalinist One', sans-serif;
    color: black;
    font-size: 30px;
}

.container_contato{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato{
    background-color: white;
    color: #000000;
    padding: 50px;
    border-radius: 10px;
    font-size: 24px;
}

.email_senha{
    background-color: #000000;
    color: #ffffff;
    padding: 7px;
    border-radius: px;
    width: 400px;
    height: 30px;
}

.email_spam{
    background-color: #000000;
    color: #ffffff;
    width: 200px;
    height: 30px;
    border-radius: px;
}